#kaocha/v1
 {:kaocha/fail-fast? false
  :kaocha/color? true
  :kaocha/reporter [kaocha.report/documentation]
  :kaocha.plugin.randomize/randomize? true
  :capture-output? true

  :plugins [:kaocha.plugin/capture-output
            :kaocha.plugin/filter
            :kaocha.plugin/hooks
            :kaocha.plugin/print-invocations
            :kaocha.plugin/randomize
            :kaocha.plugin.alpha/info]

  :kaocha.hooks/pre-load [koala.kaocha/pre-load]
  :kaocha.hooks/post-load [koala.kaocha/post-load]
  :kaocha.hooks/pre-run [koala.kaocha/pre-run]
  :kaocha.hooks/post-run [koala.kaocha/post-run]

  :tests [{:id :unit
           :source-paths ["src/main/clojure"]
           :test-paths ["src/test/clojure"]
           :focus-meta [:unit]}]

  :cloverage/opts {:output "coverage"
                   :ns-regex []
                   :ns-exclude-regex []
                   :fail-threshold 0
                   :low-watermark 50
                   :high-watermark 80
                   :summary? true
                   :html? true
                   :codecov? true}

  :koala {:ns-patterns #{"^example.core$"}}}
