<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-30(%yellow(%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}) %blue([%thread])) %green(%-5level) %cyan(%logger{36}) %green([%X]) - %highlight(%msg)\n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
